USE [master]
GO
/****** Object:  Database [SmartInsurance]    Script Date: 5/3/2021 1:19:48 AM ******/
CREATE DATABASE [SmartInsurance]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SmartInsurance', FILENAME = N'C:\Users\Israel\SmartInsurance.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SmartInsurance_log', FILENAME = N'C:\Users\Israel\SmartInsurance_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SmartInsurance].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SmartInsurance]
GO
USE [SmartInsurance]
GO
/****** Object:  Table [dbo].[Presupuesto]    Script Date: 5/3/2021 1:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Presupuesto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tacticas] [varchar](50) NULL,
	[Cantidad] [int] NULL,
	[Costo] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Presupuesto] ON 

INSERT [dbo].[Presupuesto] ([Id], [Tacticas], [Cantidad], [Costo]) VALUES (1, N'Volantes', 1000, 2875)
INSERT [dbo].[Presupuesto] ([Id], [Tacticas], [Cantidad], [Costo]) VALUES (2, N'Gorras', 4, 2500)
INSERT [dbo].[Presupuesto] ([Id], [Tacticas], [Cantidad], [Costo]) VALUES (3, N'Franelas', 4, 2800)
SET IDENTITY_INSERT [dbo].[Presupuesto] OFF
GO
USE [master]
GO
